* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
}

p,
span {
  word-break: break-word;
}

input {
  border: 1px solid #ccc;
  display: block;
  padding: 10px 5px;
  width: 100%;
}

button {
  background: #333333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: block;
  width: 100%;
}

header {
  background: #333333;
  color: white;
  padding: 20px  ;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

